<%- include("../partials/head.ejs") %>




    <body class="hold-transition sidebar-mini layout-fixed">
        <div class="wrapper">

            <%- include('../partials/navbar.ejs')%>
                <!-- end navbar -->

                <%- include('../partials/aside.ejs')%>

                    <!-- Content Wrapper. Contains page content -->

                    <!-- /.control-sidebar -->
        </div>

        <!-- ./wrapper -->

        <!-- jQuery -->
        <%- include('../partials/cdn.ejs')%>

            <div class="content-wrapper">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" aria-current="page" href="#contato">Contato</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#endereco">Endereço</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#email" data-toggle="tab" href="#email">Email</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#redes">Redes sociais</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#agendamentos">Agendamentos/Reuniões</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#observacao">Observação</a>
                    </li>
                </ul>

                <div class="card-body col-md-12">
                    <!-- <form method="post" action="/contatos"> -->
                    <div class="tab-content ">
                        <div id="contato" class="container tab-pane active">


                            <div class="card-header">

                                <div class="col-12">
                                    <table class="table table-sm table-responsive  " style="width:max-content">

                                        <thead class="table-info">
                                            <tr>
                                                <th scope="col">Foto</th>
                                                <th>Tratamento</th>
                                                <th>Matrícula</th>
                                                <th>N-guerra</th>
                                                <th>Cargo/função</th>
                                                <th>Rg-M</th>
                                                <th>Unidade/Bpm</th>
                                            </tr>
                                        </thead>
                                        <% datas.forEach(data=>{%>
                                            <tbody>
                                                <tr>
                                                    <td><img src="/img/policial.png" style="height:100px">
                                                    </td>
                                                    <td width="10%" scope="row">
                                                        <%= data.sigla%>
                                                    </td>
                                                    <td>
                                                        <%= data.matricula_sgp%>
                                                    </td>
                                                    <td>
                                                        <%= data.nome_guerra_sgp%>
                                                    </td>
                                                    <td>
                                                        <%= data.descricao%>
                                                    </td>
                                                    <td>
                                                        <%= data.rg_militar_sgp%>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                            </tbody>
                                    </table>
                                </div>
                                <div class="col-md-12">
                                    <table class="table table-sm w-auto table-responsive " style="width:100%">
                                        <thead class="table-info">
                                            <tr>
                                                <th>
                                                    Nome completo
                                                </th>
                                                <th>Data nascimento</th>
                                                <th>Data Ingresso</th>
                                                <th>Seção</th>
                                                <th>Setor</th>
                                                <th>Diretoria</th>

                                            </tr>

                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <%= data.nome_completo%>
                                                </td>
                                                <td>
                                                    <%= data.data_nasc%>
                                                </td>
                                                <td>
                                                    <%= data.data_ingresso_sgp%>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                              
                                    <table class="table w-100 table-sm  table-responsive " style="">
                                        <thead class="table-info" width="100%">
                                            <tr class="">
                                                <th scope="col">Tel Func</th>
                                                <th scope="col">Email Func</th>
                                                <th scope="col">Tel Part</th>
                                                <th scope="col">Email Part</th>
                                                <th scope="col">Ação</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <td>
                                                <%= data.telefone_celular%>
                                            </td>
                                            <td>
                                                <%= data.email_funcional %>
                                            </td>
                                            <td>
                                                <%= data.telefone_contato %>
                                            </td>
                                            <td>
                                                <%= data.email_pessoal %>
                                            </td>

                                          
                                            <td>
                                                <a href="#" data-target="#myModal1" data-toggle="modal">
                                                    <spam class="fa fa-edit"></spam>
                                                </a>
                                            </td>
                                        </tbody>
                                    </table>


                                    <table class="table table-sm w-100 table-responsive ">
                                        <thead class="table-info">
                                            <tr>

                                                <th scope="col">Descrição</th>
                                                <th>Sessão/diretoria</th>
                                                <th>Tel func</th>
                                                <th>Ramal</th>
                                                <th>Email</th>
                                                <th>dir</th>
                                                <th scope="col">Ação</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <td></td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <a href="#" data-toggle="modal" data-target="#myModal2">
                                                    <spam class="fa fa-edit"></spam>
                                                </a>
                                            </td>
                                        </tbody>
                                    </table>
                             
                      



                            <!-- Modal -->
                            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Editar
                                                Telefone e email
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Tel Particular:
                                            <input class="form-control form-control-sm" type="tel"
                                                placeholder="(81)9########">
                                            Email Pessoal:
                                            <input class="form-control form-control-sm" type="email">
                                            Seção/Diretoria
                                            <input class="form-control form-control-sm" type="text">
                                            Tel/ramal
                                            <input class="form-control form-control-sm" type="tel"
                                                placeholder="(81)3181-####">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Sair</button>
                                            <button type="button" class="btn btn-primary">Salvar
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">
                                                    Editar
                                                    dados
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Bpm/òrgão
                                                <input class="form-control form-control-sm" type="tel">
                                                Sessão/diretoria
                                                <input class="form-control form-control-sm" type="text">
                                                Tel Func
                                                <input class="form-control form-control-sm" type="tel">

                                                Ramal
                                                <input class="form-control form-control-sm" type="tel"
                                                    placeholder="(81)3181-####">

                                                Email
                                                <input class="form-control form-control-sm" type="email">

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save
                                                    changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div id="endereco" class="container tab-pane fade">
                            <table class="table table-sm">
                                <thead class="table-bg">
                                    <tr>

                                        <th>logradouro</th>
                                        <th>Número</th>
                                        <th>Bairro</th>
                                        <th>Cep</th>
                                        <th>P.ref</th>
                                        <th>Cidade</th>
                                        <th>Estado</th>
                                        <th>Ação</th>
                                    </tr>
                                <tbody>
                                    <td>
                                        <%= data.logradouro %>
                                    </td>
                                    <td>
                                        <%= data.numero %>
                                    </td>
                                    <td>
                                        <%= data.bairro %>
                                    </td>
                                    <td>
                                        <%= data.cep%>
                                    </td>
                                    <td>
                                        <%= data.ponto_referencia %>
                                    </td>
                                    <td>
                                        <%= data.cidade %>
                                    </td>
                                    <td>
                                        <%= data.estado %>
                                    </td>
                                    <td><a class="fa fa-edit"></td>

                                </tbody>
                                </thead>
                            </table>
                        </div>
                        <div id="email" class="container tab-pane fade">
                            <table class="table table-sm table-striped">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Tipo</th>
                                        <th scope="col">Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <td>adsda</td>
                                    <td>sadsa</td>
                                </tbody>

                            </table>
                        </div>
                        <div id="redes" class="container tab-pane fade">
                            <table class="table table-sm table-striped">
                                <thead class="thead-light">
                                    <tr>
                                        <th>tipo</th>
                                        <th>Rede Social</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <td></td>
                                    <td></td>
                                </tbody>
                            </table>
                        </div>
                        <div id="observacao" class="container tab-pane fade">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea3">Observações:</label>
                                <textarea class="form-control" id="exampleFormControlTextarea3" rows="7"></textarea>
                            </div>
                            <div class="form-inline">
                                <button class="btn btn-success">Salvar</button>
                            </div>
                        </div>
                        <div class="container tab-pane fade" id="agendamentos">
                            <div class="table_agendamentos">
                                <table class="table table-sm table-striped bg-light">
                                    <thead>
                                        <tr>
                                            <th>Data</th>
                                            <th>Horário</th>
                                            <th>Assunto</th>
                                            <th>Local</th>
                                            <th>Recados</th>
                                            <th>Ações</th>

                                        </tr>

                                    </thead>

                                </table>
                            </div>
                        </div>
                    </div>
                    <%})%>
                        <!-- </form> -->
                </div>

            </div>
            </div>

            <%- include('../partials/cdn.ejs') %>
    </body>